@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
  } */
  
  
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    transform: rotate(-45deg);
  }
  
  .star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 6.56em;
    --top-offset: 85.27vh;
    --fall-duration: 6.057s;
    --fall-delay: 9.652s;
  }
  .star:nth-child(2) {
    --star-tail-length: 5.16em;
    --top-offset: 53.79vh;
    --fall-duration: 8.307s;
    --fall-delay: 8.606s;
  }
  .star:nth-child(3) {
    --star-tail-length: 5.15em;
    --top-offset: 50.28vh;
    --fall-duration: 9.579s;
    --fall-delay: 8.908s;
  }
  .star:nth-child(4) {
    --star-tail-length: 6.17em;
    --top-offset: 96.95vh;
    --fall-duration: 6.295s;
    --fall-delay: 6.579s;
  }
  .star:nth-child(5) {
    --star-tail-length: 7.13em;
    --top-offset: 38.32vh;
    --fall-duration: 8.952s;
    --fall-delay: 2.515s;
  }
  .star:nth-child(6) {
    --star-tail-length: 7.47em;
    --top-offset: 95.22vh;
    --fall-duration: 11.88s;
    --fall-delay: 7.408s;
  }
  .star:nth-child(7) {
    --star-tail-length: 6.24em;
    --top-offset: 81.46vh;
    --fall-duration: 11.735s;
    --fall-delay: 7.357s;
  }
  .star:nth-child(8) {
    --star-tail-length: 7.35em;
    --top-offset: 81.5vh;
    --fall-duration: 6.065s;
    --fall-delay: 9.805s;
  }
  .star:nth-child(9) {
    --star-tail-length: 7.31em;
    --top-offset: 75.2vh;
    --fall-duration: 11.279s;
    --fall-delay: 5.164s;
  }
  .star:nth-child(10) {
    --star-tail-length: 6.95em;
    --top-offset: 22.81vh;
    --fall-duration: 8.971s;
    --fall-delay: 8.503s;
  }
  .star:nth-child(11) {
    --star-tail-length: 6.23em;
    --top-offset: 43.39vh;
    --fall-duration: 9.283s;
    --fall-delay: 7.192s;
  }
  .star:nth-child(12) {
    --star-tail-length: 5.49em;
    --top-offset: 1.41vh;
    --fall-duration: 11.479s;
    --fall-delay: 7.827s;
  }
  .star:nth-child(13) {
    --star-tail-length: 6.97em;
    --top-offset: 67.13vh;
    --fall-duration: 6.283s;
    --fall-delay: 9.387s;
  }
  .star:nth-child(14) {
    --star-tail-length: 6.36em;
    --top-offset: 44.78vh;
    --fall-duration: 7.438s;
    --fall-delay: 0.67s;
  }
  .star:nth-child(15) {
    --star-tail-length: 6.88em;
    --top-offset: 72.38vh;
    --fall-duration: 8.368s;
    --fall-delay: 4.855s;
  }
  .star:nth-child(16) {
    --star-tail-length: 6.53em;
    --top-offset: 55.65vh;
    --fall-duration: 11.057s;
    --fall-delay: 6.746s;
  }
  .star:nth-child(17) {
    --star-tail-length: 5.71em;
    --top-offset: 15.76vh;
    --fall-duration: 11.141s;
    --fall-delay: 6.288s;
  }
  .star:nth-child(18) {
    --star-tail-length: 5.75em;
    --top-offset: 4.6vh;
    --fall-duration: 10.099s;
    --fall-delay: 2.862s;
  }
  .star:nth-child(19) {
    --star-tail-length: 6.09em;
    --top-offset: 95.26vh;
    --fall-duration: 8.74s;
    --fall-delay: 8.821s;
  }
  .star:nth-child(20) {
    --star-tail-length: 5.76em;
    --top-offset: 57.51vh;
    --fall-duration: 7.865s;
    --fall-delay: 1.185s;
  }
  .star:nth-child(21) {
    --star-tail-length: 5.78em;
    --top-offset: 96.94vh;
    --fall-duration: 8.986s;
    --fall-delay: 2.301s;
  }
  .star:nth-child(22) {
    --star-tail-length: 6.5em;
    --top-offset: 33.53vh;
    --fall-duration: 11.577s;
    --fall-delay: 3.032s;
  }
  .star:nth-child(23) {
    --star-tail-length: 5.81em;
    --top-offset: 20.18vh;
    --fall-duration: 11.881s;
    --fall-delay: 1.216s;
  }
  .star:nth-child(24) {
    --star-tail-length: 5.15em;
    --top-offset: 96.14vh;
    --fall-duration: 9.32s;
    --fall-delay: 5.041s;
  }
  .star:nth-child(25) {
    --star-tail-length: 6.06em;
    --top-offset: 61.42vh;
    --fall-duration: 10.639s;
    --fall-delay: 9.402s;
  }
  .star:nth-child(26) {
    --star-tail-length: 6.75em;
    --top-offset: 79.4vh;
    --fall-duration: 6.227s;
    --fall-delay: 4.277s;
  }
  .star:nth-child(27) {
    --star-tail-length: 5.44em;
    --top-offset: 51.56vh;
    --fall-duration: 10.989s;
    --fall-delay: 6.487s;
  }
  .star:nth-child(28) {
    --star-tail-length: 6.63em;
    --top-offset: 43.65vh;
    --fall-duration: 11.652s;
    --fall-delay: 0.49s;
  }
  .star:nth-child(29) {
    --star-tail-length: 7.49em;
    --top-offset: 88.92vh;
    --fall-duration: 8.638s;
    --fall-delay: 7.469s;
  }
  .star:nth-child(30) {
    --star-tail-length: 6.26em;
    --top-offset: 3.18vh;
    --fall-duration: 6.351s;
    --fall-delay: 9.975s;
  }
  .star:nth-child(31) {
    --star-tail-length: 6.95em;
    --top-offset: 30.18vh;
    --fall-duration: 9.082s;
    --fall-delay: 3.715s;
  }
  .star:nth-child(32) {
    --star-tail-length: 5.74em;
    --top-offset: 16.76vh;
    --fall-duration: 10.247s;
    --fall-delay: 9.365s;
  }
  .star:nth-child(33) {
    --star-tail-length: 5.64em;
    --top-offset: 66.5vh;
    --fall-duration: 7.795s;
    --fall-delay: 3.81s;
  }
  .star:nth-child(34) {
    --star-tail-length: 5.39em;
    --top-offset: 37.1vh;
    --fall-duration: 10.911s;
    --fall-delay: 1.319s;
  }
  .star:nth-child(35) {
    --star-tail-length: 5.14em;
    --top-offset: 43.71vh;
    --fall-duration: 7.365s;
    --fall-delay: 1.361s;
  }
  .star:nth-child(36) {
    --star-tail-length: 7.15em;
    --top-offset: 63.25vh;
    --fall-duration: 6.781s;
    --fall-delay: 8.753s;
  }
  .star:nth-child(37) {
    --star-tail-length: 5.4em;
    --top-offset: 71.56vh;
    --fall-duration: 9.086s;
    --fall-delay: 9.996s;
  }
  .star:nth-child(38) {
    --star-tail-length: 5.95em;
    --top-offset: 55.09vh;
    --fall-duration: 9.746s;
    --fall-delay: 5.26s;
  }
  .star:nth-child(39) {
    --star-tail-length: 7.16em;
    --top-offset: 34.04vh;
    --fall-duration: 6.93s;
    --fall-delay: 3.17s;
  }
  .star:nth-child(40) {
    --star-tail-length: 5.79em;
    --top-offset: 9.1vh;
    --fall-duration: 10.142s;
    --fall-delay: 6.197s;
  }
  .star:nth-child(41) {
    --star-tail-length: 6.67em;
    --top-offset: 28.26vh;
    --fall-duration: 10.745s;
    --fall-delay: 9.703s;
  }
  .star:nth-child(42) {
    --star-tail-length: 7.17em;
    --top-offset: 39.36vh;
    --fall-duration: 7.796s;
    --fall-delay: 2.875s;
  }
  .star:nth-child(43) {
    --star-tail-length: 7.24em;
    --top-offset: 8.03vh;
    --fall-duration: 7.683s;
    --fall-delay: 0.06s;
  }
  .star:nth-child(44) {
    --star-tail-length: 6.34em;
    --top-offset: 4.12vh;
    --fall-duration: 6.826s;
    --fall-delay: 8.107s;
  }
  .star:nth-child(45) {
    --star-tail-length: 6.17em;
    --top-offset: 73.95vh;
    --fall-duration: 10.938s;
    --fall-delay: 3.607s;
  }
  .star:nth-child(46) {
    --star-tail-length: 6.34em;
    --top-offset: 74.21vh;
    --fall-duration: 6.989s;
    --fall-delay: 7.486s;
  }
  .star:nth-child(47) {
    --star-tail-length: 7.04em;
    --top-offset: 49.86vh;
    --fall-duration: 7.608s;
    --fall-delay: 3.465s;
  }
  .star:nth-child(48) {
    --star-tail-length: 5.65em;
    --top-offset: 44.77vh;
    --fall-duration: 11.182s;
    --fall-delay: 5.547s;
  }
  .star:nth-child(49) {
    --star-tail-length: 6.38em;
    --top-offset: 39.73vh;
    --fall-duration: 11.519s;
    --fall-delay: 9.033s;
  }
  .star:nth-child(50) {
    --star-tail-length: 6.56em;
    --top-offset: 33.79vh;
    --fall-duration: 7.465s;
    --fall-delay: 0.914s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }